*{
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
}

.layout1 {
    width: 1200px;
    height: 600px;
    background-color: rgb(236, 144, 63);
    /* border: 1px solid; */
}
.layout1 header{
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid;
}
.layout1 section{
    height: 500px;
    text-align: center;
    line-height: 500px;
    border: 1px solid;
}
.layout1 footer{
    text-align: center;
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}

.layout2 {
    text-align: center;
    width: 1200px;
    height: 600px;
    background-color: aqua;
    margin-top: 100px;
}
.layout2 header{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout2 .body{
    display: flex;
    height: 500px;
    line-height: 500px;
}
.layout2 .body nav{
    width: 25%;
    border: 1px solid;
}
.layout2 .body div{
    width: 50%;
    border: 1px solid;
}
.layout2 .body section{
    width: 25%;
    border: 1px solid;
}
.layout2  footer{
    height: 50px;
    line-height: 50px;
    border: 1px solid;
}

.layout3 {
    text-align: center;
    width: 1200px;
    height: 600px;
    background-color: rgb(133, 156, 37);
    margin-top: 100px;
}
.layout3 header{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout3 .menu{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout3 .body{
    display: flex;
    height: 450px;
    line-height: 500px;
}
.layout3 .body nav{
    width: 25%;
    border: 1px solid;
}
.layout3 .body div{
    width: 50%;
    border: 1px solid;
}
.layout3 .body section{
    width: 25%;
    border: 1px solid;
}
.layout3  footer{
    height: 50px;
    line-height: 50px;
    border: 1px solid;
}

.layout4 {
    text-align: center;
    width: 1200px;
    height: 600px;
    background-color: rgb(157, 54, 156);
    margin-top: 100px;
}
.layout4 header{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout4 .menu{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout4 .body{
    height: 450px;
}
.layout4 .body {
    display: flex;
}
.layout4 .body nav{
    width: 30%;
    border: 1px solid;
    line-height: 450px;
}
.layout4 .body section{
    border: 1px solid;
    width: 70%;
}
.layout4 .body .article{
    width: 750px;
    height: 400px;
    background-color: azure;
    line-height: 400px;
}
.layout4  footer{
    height: 50px;
    line-height: 50px;
    border: 1px solid;
}

.layout5 {
    text-align: center;
    width: 1200px;
    height: 600px;
    background-color: rgb(196, 96, 114);
    margin-top: 100px;
}
.layout5 header{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout5 .menu{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout5 .body{
    height: 450px;
}
.layout5 .body section{
    border: 1px solid5
}
.layout5 .body .article{
    width: 90%;
    height: 400px;
    background-color: azure;
    line-height: 400px;
}
.layout5  footer{
    height: 50px;
    line-height: 50px;
    border: 1px solid;
}

.layout6  {
    text-align: center;
    width: 1200px;
    height: 600px;
    background-color: rgb(114, 26, 42);
    margin-top: 100px;
}
.layout6  header{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout6 .menu{
    height: 50px;
    border: 1px solid;
    line-height: 50px;
}
.layout6  .body{
    height: 450px;
    display: flex;
}
.layout6  .body section{
    width: 70%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}
.layout6 .body .article{
    width: 90%;
    height: 45%;
    border: 1px solid;  
    background-color: aliceblue;
}
.layout6 .body .article1{
    width: 90%;
    height: 45%;
    border: 1px solid;  
    background-color: rgb(126, 156, 182);
}
.layout6 footer{
    height: 50px;
    line-height: 50px;
    border: 1px solid;
}